.form {
  max-width: 26.5rem;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  margin-bottom: 1.5rem;
}

.formDescription {
  display: block;
  font-size: 0.875rem;
  line-height: 129%;
  letter-spacing: -0.02em;

  margin-bottom: 1.25rem;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.input {
  color: var(--color-black);
  font-size: 0.875rem;
  line-height: 129%;
  letter-spacing: -0.03em;

  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--color-black-lighter);
  border-radius: 1.875rem;
  outline: none;

  transition: border-color 300ms ease;
}

.input::placeholder {
  color: var(--color-black-placeholder);
}

.input:focus {
  border-color: var(--color-main);
}

.submitBtn {
  width: 100%;
  margin-bottom: 0.75rem;
}

.loginText {
  text-align: center;
  font-size: 0.75rem;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.loginLink {
  color: var(--color-main);
  font-weight: 600;
  text-decoration: underline;
}

.inputIconContainer {
  position: absolute;
  top: 50%;
  right: 0.75rem;

  transform: translateY(-50%);
}

.hideInputbtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.125rem;
  height: 1.125rem;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.hideInputbtn:hover {
  .inputIcon {
    stroke: var(--color-main-darker);
  }
}

.inputIcon {
  width: 1.125rem;
  height: 1.125rem;
  stroke: var(--color-main);
  fill: transparent;

  transition: stroke 300ms ease;
}

.errorMessage {
  color: var(--color-error);
  font-size: 0.625rem;
  line-height: 120%;
  letter-spacing: -0.03em;

  margin-top: 0.125rem;
  margin-left: 12px;
}

.inputError,
.inputError:focus {
  border-color: var(--color-error) !important;
}

.inputSuccess,
.inputSuccess:focus {
  border-color: var(--color-success) !important;
}

.statusIcon {
  fill: transparent;
  width: 22px;
  height: 22px;
}

.inputIconContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.statusIconError {
  stroke: var(--color-error);
}

.statusIconSuccess {
  stroke: var(--color-success);
}

@media screen and (min-width: 768px) {
  .formDescription {
    font-size: 1.125rem;
    margin-bottom: 2rem;
  }

  .inputsWrapper {
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .submitBtn {
    margin-bottom: 1rem;
  }
}
