.sectionContainer {
  display: flex;
  flex-direction: column;

  padding-top: 2rem;
  padding-bottom: 5rem;
}

.newsHeader {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  padding-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .sectionContainer {
    padding-top: 4.1875rem;
    padding-bottom: 5.5rem;
  }

  .newsHeader {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    padding-bottom: 2.75rem;
  }
}

@media screen and (min-width:1280px) {
  .sectionContainer {
    padding: 4.3125rem 4rem 5rem 4rem;
  }

  .newsHeader {
    padding-bottom: 3.75rem;
  }
}