.header {
  display: flex;
  align-items: center;
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;
}

.homeBg {
  padding: 1.125rem 1.25rem;
  background-color: var(--color-main);
}

.innerBg {
  background-color: var(--color-background);
  border-radius: 1.875rem;
  padding: 1.125rem 0;
}

.innerBg .burgerBtn {
  stroke: var(--color-black);
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.625rem 0 0.625rem 0;
  transition: transform 300ms ease;

  margin-right: auto;
}

.logoLink:active {
  transform: scale(0.9);
}

.burgerBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid transparent;
  background-color: transparent;
  stroke: white;

  margin-left: 0.75rem;
}

.burgerBtn:active {
  transform: scale(0.9);
}

.burgerIcon {
  width: 2rem;
  height: 2rem;
}

.header nav[aria-label="Main"],
.header nav[aria-label="Authentication"] {
  display: none;
}

.header nav[aria-label="User"] button,
.header nav[aria-label="User"] span {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    border-top-left-radius: 3.75rem;
    border-top-right-radius: 3.75rem;
  }

  .innerBg {
    border-radius: 3.75rem;
  }

  .homeBg {
    padding: 1.6875rem 2rem;
  }
  .homeBg nav[aria-label="User"] span {
    color: var(--color-white);
  }

  .burgerIcon {
    width: 2.25rem;
    height: 2.25rem;
  }

  .header nav[aria-label="User"] button,
  .header nav[aria-label="User"] span {
    display: block;
  }
  .header nav[aria-label="User"] button {
    min-width: 8.5rem;
  }

  .burgerBtn {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    justify-content: space-between;
    padding: 1.6875rem 4rem;
  }

  .logoLink {
    margin-right: 0;
  }

  .burgerBtn {
    display: none;
  }

  .header nav[aria-label="Main"],
  .header nav[aria-label="Authentication"] {
    display: flex;
  }
  .header nav[aria-label="User"] ul button {
    min-width: 119px;
  }
}
