:root {
  --color-black: #262626;
  --color-gray: #ffffff66;
  --color-white: #ffffff;
  --color-main: #f6b83d;
  --color-secondary: #fff4df;
  --color-background: #f9f9f9;
  --color-red: #f43f5e;
  --color-red-lighter: #f43f5e1a;
  --color-blue: #54adff;
  --color-blue-lighter: #54adff1a;
  --color-success: #08aa83;
  --color-error: #ef2447;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  font-family: var(--font-manrope-sans), sans-serif;
  color: #262626;
  background-color: var(--color-background);
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  min-height: 100dvh;
}

.container {
  margin: 0 auto;
  max-width: 23.4375rem;
  padding: 0 1.25rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}
