.heroTextContainer {
  background-color: var(--color-main);
  padding: 2.5rem 1.25rem 3.125rem 1.25rem;
  border-bottom-left-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
}

.heroTextContainer h1 {
  font-weight: 600;
  font-size: 3.125rem;
  line-height: 96%;
  letter-spacing: -0.03em;
  color: var(--color-white);
  max-width: 18rem;

  margin-bottom: 1.5rem;
}

.accent {
  color: var(--color-gray);
}

.heroTextContainer p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

.heroImageWrapper,
.heroImage {
  border-radius: 1.875rem;
  width: 20.9375rem;
  height: 25.125rem;
}

.tabletOnly,
.desktopOnly {
  display: none;
}

@media screen and (min-width: 768px) {
  .heroTextContainer {
    padding: 4.3125rem 2rem 2.75rem 2rem;
    border-bottom-left-radius: 3.75rem;
    border-bottom-right-radius: 3.75rem;
  }

  .heroTextContainer h1 {
    max-width: 40rem;
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  .heroTextContainer p {
    max-width: 15.9375rem;
    margin-left: auto;
    font-size: 1.125rem;
  }

  .heroImageWrapper,
  .heroImage {
    border-radius: 3.75rem;
    width: 44rem;
    height: 31rem;
  }

  .mobileOnly {
    display: none;
  }

  .tabletOnly {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .heroTextContainer {
    padding: 4.3125rem 4rem 2rem 4rem;

    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 4.5625rem;
  }

  .heroTextContainer h1 {
    max-width: 47.5rem;
    font-size: 5.625rem;
    margin-bottom: 0;
  }

  .heroTextContainer p {
    margin: 0;
  }

  .heroImageWrapper,
  .heroImage {
    width: 76rem;
    height: 24rem;
  }

  .tabletOnly {
    display: none;
  }

  .desktopOnly {
    display: block;
  }
}
