.backdrop {
  border: none;
  background: transparent;
  padding: 0;
  margin: auto;
  overflow: visible;

  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop::backdrop {
  background-color: var(--color-backdrop);
}

.modal {
  position: relative;
  text-align: end;
  min-width: 21rem;
  padding: 2.5rem 1.75rem;
  background-color: var(--color-background);
  border-radius: 1.875rem;
}

.closeBtn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: none;
  transition: transform 300ms ease;
  cursor: pointer;
}

.closeBtn:hover{
  transform: scale(1.1);
}

.closeBtn:active {
  transform: scale(0.9);
}

.closeIcon {
  stroke: var(--color-black);
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 5rem;
    width: 28rem;
  }
}
