.modalIcon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;
  background-color: var(--color-secondary);
  border-radius: 50%;

  font-size: 2.75rem;
  margin: 0 auto 1.25rem auto;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: var(--color-black);

  margin-bottom: 1.75rem;
}

.btnContainer {
  display: flex;
  gap: 0.5rem;
}

.btn:last-child {
  color: var(--color-black);
  background-color: var(--color-modalBtn-black);
  opacity: 1;
}

.btn:last-child:hover,
.btn:last-child:focus {
  background-color: var(--color-black-lighter);
}

.btn {
  width: 100%;
  height: 2.625rem;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .btn {
    height: 3rem;
  }
}
