.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  padding-bottom: 3.5rem;
}

@media screen and (min-width: 768px) {
  .profileContainer {
    padding-bottom: 3.75rem;
  }
}