.default {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 7.4375rem;
  width: fit-content;
  max-height: 2.625rem;
  padding: 0.9375rem 1.25rem;

  border: 1px solid transparent;
  border-radius: 1.875rem;

  cursor: pointer;

  color: var(--color-white);
  background-color: var(--color-black-lighter);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 129%;
  letter-spacing: -0.03em;

  transition:
    background-color 300ms ease,
    opacity 300ms ease;
}
.default:active {
  opacity: 0.7;
}

/* color */

.primary {
  background-color: var(--color-main);
  color: var(--color-white);
}
.primary:hover {
  background-color: var(--color-main-darker);
}

.secondary {
  color: var(--color-main);
  background-color: var(--color-secondary);
}
.secondary:hover {
  background-color: var(--color-secondary-darker);
}

.bordered,
.borderedAlt {
  max-height: 3.125rem;
  height: 3.125rem;
  transition:
    border-color 300ms ease,
    opacity 300ms ease;
}

.bordered {
  color: var(--color-white);
  background-color: transparent;
  border-color: var(--color-gray);
}
.bordered:hover,
.active {
  border-color: var(--color-white);
}

.borderedAlt {
  color: var(--color-black);
  background-color: transparent;
  border-color: rgba(38, 38, 38, 0.15);
}

.borderedAlt:hover,
.activeAlt {
  border-color: var(--color-main);
}

.gray {
  color: var(--color-black);
  background-color: var(--color-modalBtn-black);
}
.gray:hover {
  background-color: var(--color-black-lighter);
}

/* textStyle */

.auth {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  line-height: 125%;
  letter-spacing: -0.03em;
}

.modal {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 129%;
  letter-spacing: -0.03em;

  max-height: 2.625rem;
  width: 100%;
  max-width: 8.5625rem;
}

@media screen and (min-width: 768px) {
  .default,
  .modal {
    font-size: 1rem;
    line-height: 125%;
    max-height: 3rem;
  }

  .auth {
    max-height: 3.125rem;
  }
}

@media screen and (min-width: 1280px) {
  .bordered,
  .borderedAlt {
    min-width: 5rem;
    max-height: 3.125rem;
  }
}
