.list {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5rem;
}

.list li:first-child {
  display: none;
}

.list li:last-child {
  display: block;
  width: 100%;
}

.list li:last-child button {
  width: 100%;
}

@media screen and (min-width:768px) {
  .list li:last-child button {
    width: fit-content;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .list li:first-child {
    display: block;
  }
}