.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 58vw;
  height: 100dvh;
  padding: 40px 20px;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.accentBg {
  background-color: var(--color-main);
}

.accentBg .closeBtn {
  stroke: var(--color-white);
}

.whiteBg {
  background-color: var(--color-white);
}

.isOpen {
  transform: translateX(0);
}

.closeBtn {
  position: absolute;
  top: 2rem;
  right: 1.375rem;

  width: 2rem;
  height: 2rem;
  stroke: var(--color-black);
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.closeBtn:active {
  transform: scale(0.9);
}

.crossIcon {
  width: 2rem;
  height: 2rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 25dvh;
}

.contentContainer > :last-child {
  margin-top: auto;
}

.wrapper [aria-label="Authentication"] ul li a:first-child {
  max-height: 42px;
}

.wrapper [aria-label="User"] ul  {
  justify-content: center;
}
.wrapper [aria-label="User"] ul li:first-child {
  display: none;
}
.wrapper [aria-label="User"] ul li,
.wrapper [aria-label="User"] ul li button {
  width: 100%;
}

.wrapper.whiteBg [aria-label="User"] ul li button {
  font-weight: 600;
  font-size: 0.875rem;
  background-color: var(--color-main);
}
.wrapper.whiteBg [aria-label="User"] ul li button:hover {
  color: var(--color-white);
  background-color: var(--color-main-darker);
}

.wrapper.accentBg [aria-label="User"] ul li button {
  color: var(--color-main);
  background-color: var(--color-secondary);
}
.wrapper.accentBg [aria-label="User"] ul li button:hover {
  color: var(--color-main);
  background-color: var(--color-secondary-darker);
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 50vw;
  }

  .closeBtn {
    top: 2.375rem;
    right: 2.25rem;
  }

  .crossIcon {
    width: 2.25rem;
    height: 2.25rem;
  }

  .contentContainer {
    padding-top: 30dvh;
  }

  .wrapper [aria-label="Authentication"] ul li a:first-child {
    max-height: 50px;
    width: fit-content;
    max-width: 149px;
  }
}
